language: c

os:
  - linux
  - freebsd
  - osx

dist: bionic

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      ./scripts/clang-format.sh;
    elif [[ "$TRAVIS_OS_NAME" = "freebsd" ]]; then
      sudo pkg install -y scons msgpack nss;
    elif [[ "$TRAVIS_OS_NAME" = "osx" ]]; then
      brew update;
      brew upgrade nspr nss;
      brew install scons msgpack;
    fi

addons:
  apt:
    packages:
    - scons
    - libmsgpack-dev
    - libnss3-dev
    - clang-format-9

script:
  - scons DEBUG=1 SANITIZE=1
  - ./build/ptest/ptest -vvv
